@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: "Kelly Slab";
  src: url("../fonts/KellySlab-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-VariableFont_wght.ttf");
}

body {
  z-index: -2;
  height: 100%;
  background-color: #FFF;
}

header {
  position: fixed;
  z-index: 1;
  font-family: "Kelly Slab", sans-serif;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 70px;
}

header #menu-toggle {
  display: none;
}

header nav {
  position: relative;
  float: right;
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  overflow: hidden;
}

header nav form {
  padding-top: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header nav form input {
  padding-left: 10px;
  color: #FFF;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  background: none;
  border-radius: 50px;
  border: 3px solid #FF03B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

header nav form .inclicked {
  padding-left: 0px;
  width: 180px;
  border-radius: 6px;
  padding: 0 15px;
  padding-right: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

header nav form .btn {
  margin-left: -25px;
  position: absolute;
  width: 25px;
  height: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

header nav form .btn::before {
  content: "";
  width: 5px;
  height: 15px;
  background: #FF03B8;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -1px;
  right: -3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav form .close::before, header nav form .close::after {
  content: "";
  width: 2px;
  height: 12px;
  background: white;
  position: absolute;
  bottom: 12px;
  right: 10px;
}

header nav form .close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav form .close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #08D304;
  font-family: "Source Serif Pro", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 26.25px;
  margin-right: 50px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

header nav a:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #00a650;
  content: "";
  transition: width .3s ease-out;
  -webkit-transition: width .3s ease-out;
  -moz-transition: width .3s ease-out;
  -ms-transition: width .3s ease-out;
  -o-transition: width .3s ease-out;
}

header nav a:hover::after, header nav a:focus::after {
  width: 100%;
}

header #logo {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 8.12%;
  right: 85.97%;
  top: 0%;
  bottom: -26.87%;
  background: #FF0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  min-width: 65px;
  min-height: 85px;
  text-align: center;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  color: #08D304;
  font-size: 3.5em;
  transition: all .8s linear;
  -webkit-transition: all .8s linear;
  -moz-transition: all .8s linear;
  -ms-transition: all .8s linear;
  -o-transition: all .8s linear;
}

header #logo:after {
  content: ' ';
  left: -100%;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
}

header #logo:hover {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transform: translateX(100%) rotateX(-90deg);
  -webkit-transform: translateX(100%) rotateX(-90deg);
  -moz-transform: translateX(100%) rotateX(-90deg);
  -ms-transform: translateX(100%) rotateX(-90deg);
  -o-transform: translateX(100%) rotateX(-90deg);
}

header #logo img {
  width: 85px;
  height: 85px;
}

header #plogo {
  position: absolute;
  float: left;
  left: 18%;
  right: 82%;
  top: 25%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #08D304;
  text-decoration: none;
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
}

@media screen and (max-width: 1366px) {
  #menu-toggle:checked ~ nav {
    visibility: visible;
    left: 0;
  }
  #menu-toggle:checked ~ #label_menu > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-toggle:checked ~ #label_menu > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu-toggle:checked ~ #label_menu > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #label_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #label_menu > span,
  #label_menu > span::before,
  #label_menu > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #08D304;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  #label_menu > span::before {
    content: '';
    top: -8px;
  }
  #label_menu > span::after {
    content: '';
    top: 8px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  header nav a, header nav form {
    float: none;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
  }
  header nav a .inclicked, header nav form .inclicked {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 250px;
    height: 40px;
  }
  header nav .btn {
    display: none;
    margin-left: -100%;
  }
}

.wrapper {
  z-index: 0;
  position: relative;
  width: 60%;
  height: 650px;
  left: calc(50% - 60%/2 - 1px);
  top: 70px;
  background: #FFEEEE;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.wrapper .slider {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wrapper > input {
  display: none;
}

.wrapper .slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 0;
  -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper label {
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 8px;
  margin: 25px 12px 0 16px;
  top: -60px;
  width: 8px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

.wrapper label:hover,
.wrapper #slide1:checked ~ .controls label:nth-of-type(1),
.wrapper #slide2:checked ~ .controls label:nth-of-type(2),
.wrapper #slide3:checked ~ .controls label:nth-of-type(3),
.wrapper #slide4:checked ~ .controls label:nth-of-type(4),
.wrapper #slide5:checked ~ .controls label:nth-of-type(5) {
  background: #ddd;
}

.slide1 {
  background-image: url("../images/neutral_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide2 {
  background-image: url("../images/neutrral-pic1.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide3 {
  background-image: url("../images/Antonio_Salazar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide4 {
  background-image: url("../images/826cb33961f5cb6aeca7f62b89c8584e.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide5 {
  background-image: url("../images/0004.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

hr {
  position: relative;
  width: 60%;
  height: 2px;
  top: 95px;
  margin-top: 70px;
  margin-bottom: 130px;
  left: calc(50% - 60%/2 - 1px);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/*------------Статья-С------------*/
main {
  position: relative;
  margin-left: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main .hero {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  height: 650px;
  text-align: center;
}

main .hero .description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  position: relative;
  margin-top: -550px;
  z-index: -1;
}

main .hero .div-img {
  width: 100%;
  min-height: 550px;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

main .hero .div-img:hover {
  opacity: 0;
}

.crossed::after {
  width: 100%;
}

.big-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.big-img h1 {
  position: relative;
  text-align: center;
  font-size: 5rem;
  font-family: "Oswald Regular";
  font-weight: 500;
  color: #FFF;
}

.article {
  position: relative;
  left: calc(50% - 70%/2 - 1px);
  width: 70%;
  min-height: 100px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid gray;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

.article p {
  text-align: justify;
  margin-top: 5px;
  text-indent: 40px;
}

.article figure {
  width: 25%;
  max-width: 400px;
  margin: 10px 5px 5px 10px;
  height: auto;
  float: right;
}

.article figure img {
  width: 100%;
  height: 95%;
}

.article figure figcaption {
  text-align: center;
  font-size: 0.9rem;
}

.article h3 {
  text-indent: 40px;
  font-family: "Oswald Regular", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.55rem;
}

h2 {
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  margin-bottom: 20px;
  font-size: 2rem;
}

/*-------------Статьи-Г-----------*/
section {
  z-index: 0;
  position: relative;
  width: 60%;
  min-height: 600px;
  left: calc(50% - 60%/2 - 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section .article-main {
  width: 100%;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border: 4px solid black;
}

section .article-main .article-main-heading {
  position: relative;
  padding-top: 400px;
  line-height: 1.5;
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-family: 'Kelly Slab', serif;
  color: #FFF;
  cursor: pointer;
  text-shadow: -0   -1px 1px #000000, 0    -1px 1px #000000, -0    1px 1px #000000, 0     1px 1px #000000, -1px -0   1px #000000, 1px  -0   1px #000000, -1px  0   1px #000000, 1px   0   1px #000000, -1px -1px 1px #000000, 1px  -1px 1px #000000, -1px  1px 1px #000000, 1px   1px 1px #000000, -1px -1px 1px #000000, 1px  -1px 1px #000000, -1px  1px 1px #000000, 1px   1px 1px #000000;
  text-align: center;
  text-transform: uppercase;
}

section article {
  margin-top: 50px;
  width: 45%;
  min-height: 600px;
  height: auto;
  overflow: hidden;
}

section article .article-img {
  display: block;
  opacity: 1;
  transition: opacity .6s;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  -o-transition: opacity .6s;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

section article .article-img:hover {
  opacity: 0.8;
}

section article .article-time {
  font-family: 'IBM Plex Sans';
  font-size: 0.9rem;
  padding: 15px 0 3px 0;
  color: #bababa;
}

section article .article-heading {
  font-family: "Source Serif Pro";
  font-size: 1.4rem;
  padding-top: 5px;
  text-transform: uppercase;
}

section article .article-heading a {
  color: #000;
  text-decoration: none;
  transition: color .6s;
  -webkit-transition: color .6s;
  -moz-transition: color .6s;
  -ms-transition: color .6s;
  -o-transition: color .6s;
}

section article .article-heading a:hover {
  color: #19a5cd;
}

section article .article-author {
  font-size: 1.1rem;
  color: #bababa;
  padding-bottom: 10px;
}

section article .article-author .author-link {
  color: #bababa;
  text-decoration: none;
  border-bottom: 1px dashed #bababa;
}

section article .article-prev {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: justify;
  font-family: "Source Serif Pro";
  font-size: 1.1rem;
}

/*--------------Футер------------*/
footer {
  display: block;
  position: relative;
  margin-top: 60px;
  width: 100%;
  min-height: 200px;
  background-color: #060623;
  color: #ffe;
  text-align: center;
  line-height: 1.4;
}

footer .pfooter {
  padding: 30px;
}

footer .pfooter a, footer .pfooter a:hover, footer .pfooter a:active {
  display: inline-block;
  z-index: 0;
  float: none;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffe;
  font-style: italic;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: 1s;
  transition: 1s;
  background: none;
  margin-bottom: 10px;
}

footer .pfooter img {
  width: 32px;
  height: 32px;
}

footer i {
  color: #454885;
}

/*---------Полоса прокрутки--------*/
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6fb), to(#005bea));
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

/*--------------Архив--------------*/
.archieve .article-img {
  height: 85%;
}

.article-heading-archive {
  text-align: center;
}

/*----------Цепь событий----------*/
.chain {
  width: 60%;
  height: 5px;
  background: #f00;
  position: relative;
  top: 50px;
  left: calc(50% - 60%/2 - 1px);
}

.chain .bar {
  position: absolute;
  left: 50px;
  width: 300px;
  background: #0f0;
  height: 100%;
}

.chain .bar .lp span {
  color: #000;
  position: relative;
  left: -30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.chain .bar .rp span {
  color: #000;
  position: relative;
  left: -35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.chain .bar .lp, .chain .bar .rp {
  cursor: pointer;
  background: #0f0;
  width: 16px;
  height: 16px;
  border: 3px solid #0f0;
  border-radius: 100%;
  position: absolute;
  line-height: 400%;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.chain .bar .lp {
  left: 0px;
  top: -6px;
}

.chain .bar .rp {
  left: 100%;
  top: -6px;
}

/*-------------Форма---------------*/
.forma {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archieve .big {
  height: 65%;
}

.archieve form {
  padding: 50px;
  width: 80%;
  max-width: 900px;
  min-width: 500px;
  height: auto;
  background-color: black;
  opacity: 0.7;
  margin-top: 50px;
  font-family: Tahoma;
  border-radius: 10px;
  color: white;
  text-align: left;
}

.archieve label {
  display: block;
  width: 100%;
}

.archieve input, .archieve select, .archieve textarea {
  padding: 0.8em;
  border-radius: 6px;
  border: none;
  width: 100%;
  font-size: 1em;
  margin-bottom: 30px;
  margin-top: 4px;
  font-family: Tahoma;
}

.archieve select {
  width: 100%;
}

.archieve textarea {
  resize: none;
  height: 150px;
}

.archieve input[type="radio"], .archieve input[type="checkbox"] {
  width: unset;
  margin-bottom: 15px;
}

.archieve input[type="submit"] {
  width: 100%;
  background-color: skyblue;
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */